<mat-toolbar color="primary" class="app-header">
  <div><a class="navbar-brand" href="#"><img src="../../assets/logo-initial.jpg" width="70px" height="45px" alt=""></a></div>    <span class="nav-tool-items">
      <a mat-button [routerLink]="['/post']" routerLinkActive="active">Post</a>
      <a mat-button [routerLink]="['/coment']" routerLinkActive="active">Comentarios</a>
      <a mat-button [routerLink]="['/perfil']" routerLinkActive="active">Perfiles</a>
      <a mat-button mat-raised-button [routerLink]="['/inicio']" routerLinkActive="active">Salir</a>
    </span>
  </mat-toolbar>